body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.firstDiv {
  height: calc(100vh - 60px - 1rem);
}

.productLink {
  text-decoration: none;
  font-size: 42px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.headingOne {
  font-family: 'Viaoda Libre';
  font-weight: bold;
  margin-top: 5vh;
}

.descriptionPartOne {
  width: 55%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Viaoda Libre';
  font-weight: 600;
}
.descriptionPartOneHeading {
  font-weight: bold;
  letter-spacing: 3px;
}
.descriptionParOneParagraph {
  text-align: justify;
  letter-spacing: 1px;
}
.productLinkDiv {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.showerProductDiv:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  color: rgb(214, 213, 213);
}
.kitchenProductDiv:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  color: rgb(214, 213, 213);
}

.productContainer {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.kitchenProductDiv {
  text-align: center;
  min-width: 350px;
  min-height: 340px;
}

.showerProductDiv {
  text-align: center;
  min-width: 350px;
  min-height: 340px;
}
.imgSpan {
  position: relative;
  top: 40px;
}
.newProductsContainer {
  width: 870px;
  margin: auto;
  height: 570px;
  overflow: hidden;
}

.newProductsLink {
  color: black;
  text-decoration: none;
}
.newProductsLink:hover #a2,
.newProductsLink:hover #b2,
.newProductsLink:hover #c2 {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid green;
}

.newProductsLink:hover .newProductsDivOneImage {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.newProductsDivOne {
  overflow: hidden;
}

#a2,
#c2,
#b2 {
  background-color: rgb(231, 231, 231);
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.newProductsDivOneImage {
  overflow: hidden;
  height: 280px;
  width: 290px;
}

@media screen and (min-width: 900px) {
  .divNewProductsResp {
    width: 580px;
    height: 280px;
    margin: 0;
    padding: 0;
  }
  .divNewProductsRespB {
    height: 570px;
    width: 290px;
    float: right;
    position: relative;
    top: -280px;
    margin: 0;
  }
  #a1 {
    width: 290px;
    height: 280px;
    margin: 0;
  }
  #a2 {
    float: left;
    width: 290px;
    height: 280px;
    position: relative;
    top: -280px;
    right: -290px;
    margin: 0;
  }
  #b1 {
    width: 290px;
    height: 280px;
    position: relative;
    right: -10px;
  }
  #b2 {
    width: 290px;
    height: 290px;
    position: relative;
    right: -10px;
  }
  #c1 {
    width: 290px;
    height: 280px;
    position: relative;
    bottom: -10px;
  }
  #c2 {
    width: 290px;
    height: 280px;
    position: relative;
    top: -270px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .newProductsContainer {
    width: 600px;
    height: 860px;
    overflow: hidden;
  }
  .divNewProductsResp,
  .divNewProductsRespB {
    width: 560px;
    height: 280px;
    margin: auto;
  }
  #a1 {
    width: 290px;
    height: 280px;
    margin: 0;
  }
  #a2 {
    width: 290px;
    height: 280px;
    margin: 0;
    position: relative;
    top: -280px;
    right: -290px;
  }
  #b1 {
    width: 290px;
    height: 280px;
    margin: 0;
    position: relative;
    right: -290px;
    bottom: -10px;
  }
  #b2 {
    width: 290px;
    height: 280px;
    margin: 0;
    position: relative;
    top: -270px;
  }
  #c1 {
    width: 290px;
    height: 280px;
    position: relative;
    bottom: -20px;
  }
  #c2 {
    width: 290px;
    height: 280px;
    position: relative;
    top: -260px;
    right: -290px;
  }
}
@media screen and (max-width: 600px) {
  .newProductsContainer {
    width: 100%;
    height: 860px;
  }
  .divNewProductsResp,
  .divNewProductsRespB {
    height: 280px;
  }
  .newProductsDivOne {
    height: 280px;
    overflow: hidden;
  }
  .newProductsDivTwo {
    width: 75%;
    height: 280px;
  }
  .newProductsDivOneImage {
    height: 280px;
    width: 25%;
    object-fit: cover;
  }
  #a2 {
    position: relative;
    top: -280px;
    right: -25%;
  }
  #b2 {
    position: relative;
    top: -280px;
    right: -25%;
  }
  #c2 {
    position: relative;
    top: -280px;
    right: -25%;
  }
  #b1 {
    margin-top: 10px;
  }
  #c1 {
    margin-top: 10px;
  }
}

.footerContainer {
  background-color: black;
  height: 50vh;
  font-weight: 600;
  color: white;
}

@media screen and (min-width: 1024px) {
  .footerCol31,
  .footerCol32,
  .mobileOnlyHR {
    display: none;
  }
  .footerContainerDiv {
    display: flex;
    flex-direction: row;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .flexBreak {
    width: 800px;
    height: 0;
    margin-top: 64px;
  }
  .footerCol1 {
    width: 150px;
    margin-right: 50px;
    margin-top: 64px;
    padding-bottom: 60px;
  }
  .footerHeadingMain {
    padding-top: 24px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
  }
  .footerHeading {
    padding-top: 24px;
    width: 100%;
    font-size: 14px;
  }
  .footerParagraph {
    width: 100%;
    padding-top: 18px;
    font-size: 12px;
    font-weight: 200;
  }
  .footerCol2,
  .footerCol3,
  .footerCol4,
  .footerCol5 {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }
  .footerAddress {
    display: flex;
    flex-direction: column;
    width: 180px;
  }
  .footerCol2 {
    width: 150px;
    margin-right: 50px;
  }
  .footerCol3 {
    width: 150px;
    margin-right: 90px;
  }
  .footerCol4 {
    width: 150px;
    margin-right: 50px;
  }
  .footerCol5 {
    width: 80px;
  }
  .legal {
    width: 950px;
  }
  .footerContent {
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(142, 151, 151);
  }

  .footerLink:hover {
    color: white;
    transition: color;
    transition-duration: 500ms;
  }
  .boldText {
    font-weight: 400;
    color: white;
  }
}
@media screen and (max-width: 1024px) {
  .footerCol3 {
    display: none;
  }
  .footerContainerDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .footerContainer {
    height: 100vh;
    min-width: 450px;
  }
  .mobileOnly {
    color: white;
  }
  .footerCol1 {
    width: 100%;
    min-width: 150px;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .footerHeadingMain,
  .footerParagraph {
    width: 150px;
  }
  .footerCol2 {
    width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 40px;
  }
  .footerCol31 {
    width: 65%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
  }
  .footerAddress {
    display: flex;
    flex-direction: column;
  }
  .footerCol32 {
    width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 40px;
  }
  .footerCol4 {
    max-width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
  }
  .footerCol5 {
    max-width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .flexBreak {
    width: 100%;
  }
  .legal {
    padding-left: 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .footerContent {
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(142, 151, 151);
  }

  .footerLink:hover {
    color: white;
    transition: color;
    transition-duration: 500ms;
  }
  .boldText {
    font-weight: 400;
    color: white;
  }
  .mobileOnlyHR {
    height: 1px;
    width: 95%;
    border-bottom: 1px solid #272727;
    margin: auto;
  }
  .footerHeading {
    padding-top: 32px;
    width: 100%;
    font-size: 14px;
  }
  .footerHeadingMain {
    width: 100%;
    font-size: 32px;
  }
}
.mapouter {
  text-align: right;
  height: 530px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 530px;
  width: 100%;
}
